*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
	line-height: 1.5;
}
